@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-fira: var(--font-fira-code);

  --spacing-fill: -webkit-fill-available;

  --default-transition-duration: 200ms;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  button {
    @apply cursor-pointer;
  }
}

@utility container {
  @apply mx-auto;
}
@utility flex-center {
  @apply flex justify-center items-center;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-fira);
}
