@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --font-fira: var(--font-fira-code);

  --spacing-fill: -webkit-fill-available;

  --default-transition-duration: 200ms;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@layer base {
  button {
    @apply cursor-pointer;
  }
}

@utility container {
  @apply mx-auto;
}
@utility flex-center {
  @apply flex justify-center items-center;
}

.btn {
  @apply bg-slate-100 dark:bg-slate-800 text-slate-900 dark:text-slate-100 px-4 py-2 rounded-lg transition-all hover:bg-slate-200 dark:hover:bg-slate-700;
}
